flows_tao.json
[{"id":"7701e760.724028","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f91e01d.b87ba","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab24a7bd.083bd","type":"sqlitedb","z":"","db":"test_db","mode":"RWC"},{"id":"1ad5e5a5.1f7d8a","type":"ui_tab","z":"","name":"Configuracion","icon":"settings","order":5},{"id":"159d45b2.5e5262","type":"ui_group","z":"","name":"Criticas","tab":"8083fa2.7047488","disp":true,"width":"6","collapse":false},{"id":"5bb55dae.8fedfc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Panel de control","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c925298.6deaa8","type":"ui_tab","z":"","name":"Estado","icon":"info","order":1},{"id":"8083fa2.7047488","type":"ui_tab","z":"","name":"Alarmas","icon":"notifications","order":2},{"id":"d3b46a21.fba9c","type":"ui_group","z":"","name":"Sensores","tab":"9c925298.6deaa8","disp":true,"width":"6","collapse":false},{"id":"4f6999e5.fa3db","type":"ui_group","z":"","name":"General","tab":"1ad5e5a5.1f7d8a","disp":true,"width":"6","collapse":false},{"id":"8f648384.a2e2e8","type":"ui_group","z":"","name":"Informativas","tab":"8083fa2.7047488","order":2,"disp":true,"width":"6","collapse":false},{"id":"46faa800.dcd4f8","type":"ui_tab","z":"","name":"Estadisticas","icon":"show_chart","order":4},{"id":"56a4578b.b559a8","type":"ui_group","z":"","name":"Graficos","tab":"46faa800.dcd4f8","disp":true,"width":"6","collapse":false},{"id":"e33a03e0.3daf48","type":"ui_tab","z":"","name":"Diario","icon":"event","order":3},{"id":"edd08cee.f3d868","type":"ui_group","z":"","name":"Registro","tab":"e33a03e0.3daf48","disp":true,"width":"6","collapse":false},{"id":"a1a1b9c3.ea4b48","type":"mqtt in","z":"7701e760.724028","name":"","topic":"test","qos":"2","broker":"8f91e01d.b87ba","x":90,"y":320,"wires":[["d5b22137.9981e","4923428e.c3053c","c025c42.580c1b8"]]},{"id":"cf708b7e.f85dd8","type":"mqtt out","z":"7701e760.724028","name":"","topic":"test","qos":"","retain":"","broker":"8f91e01d.b87ba","x":250,"y":160,"wires":[]},{"id":"660757aa.b8ad9","type":"inject","z":"7701e760.724028","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["cf708b7e.f85dd8"]]},{"id":"d5b22137.9981e","type":"debug","z":"7701e760.724028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":260,"wires":[]},{"id":"7fd24fe.665a53","type":"sqlite","z":"7701e760.724028","mydb":"ab24a7bd.083bd","sqlquery":"msg.topic","sql":"insert into sensors (id,timestamp,value) values (1,msg.payload,msg.payload);","name":"","x":400,"y":320,"wires":[[]]},{"id":"4923428e.c3053c","type":"function","z":"7701e760.724028","name":"insert","func":"var randomValue = Math.round(Math.random()*100);\n\nvar newMsg = {\n    \"payload\": {\n        \"id\": 1,\n        \"timestamp\": msg.payload,\n        \"value\": randomValue\n    },\n    \"topic\": \"INSERT INTO sensors VALUES (\" + \"1\" + \",\" + msg.payload + \",\" + randomValue + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["7fd24fe.665a53"]]},{"id":"4773a913.e3f508","type":"ui_slider","z":"7701e760.724028","name":"","label":"Cantidad","group":"4f6999e5.fa3db","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":"1","max":"6","step":1,"x":100,"y":40,"wires":[["4ec62850.0f27b8"]]},{"id":"4ec62850.0f27b8","type":"ui_text","z":"7701e760.724028","group":"4f6999e5.fa3db","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":40,"wires":[]},{"id":"ea6ec6c4.e719f","type":"ui_dropdown","z":"7701e760.724028","name":"","label":"Tipo","place":"Select option","group":"4f6999e5.fa3db","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":390,"y":380,"wires":[[]]},{"id":"c025c42.580c1b8","type":"function","z":"7701e760.724028","name":"","func":"var newMsg = {\n    \"options\" : [ msg.payload ]\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["ea6ec6c4.e719f"]]},{"id":"d02bfcfa.9ce93","type":"ui_gauge","z":"7701e760.724028","name":"","group":"d3b46a21.fba9c","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor 1","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":100,"y":500,"wires":[]},{"id":"1d53e69a.f7c309","type":"ui_gauge","z":"7701e760.724028","name":"","group":"d3b46a21.fba9c","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor 2","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":260,"y":500,"wires":[]},{"id":"e3dc8eea.ac90c","type":"ui_switch","z":"7701e760.724028","name":"","label":"Alarma 1","group":"159d45b2.5e5262","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":600,"wires":[[]]},{"id":"467d5b63.8d5e3c","type":"ui_switch","z":"7701e760.724028","name":"","label":"Alarma 2","group":"159d45b2.5e5262","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":600,"wires":[[]]},{"id":"6bd22409.66219c","type":"ui_switch","z":"7701e760.724028","name":"","label":"Alarma 3","group":"8f648384.a2e2e8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":660,"wires":[[]]},{"id":"b0df3f65.225818","type":"ui_chart","z":"7701e760.724028","name":"","group":"56a4578b.b559a8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":120,"y":740,"wires":[[],[]]},{"id":"c75907e8.3a29a8","type":"ui_text","z":"7701e760.724028","group":"edd08cee.f3d868","order":0,"width":0,"height":0,"name":"","label":"Registro","format":"{{msg.payload}}","layout":"row-spread","x":100,"y":820,"wires":[]},{"id":"539cf66b.8dacc","type":"function","z":"7701e760.724028","name":"set headers","func":"msg.headers = {};\nmsg.headers[\"X-API-Key\"] = msg.topic;\nmsg.headers[\"searchText\"] = \"Moby Dick\";\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":980,"wires":[["5505feca.fc5c8"]]},{"id":"5505feca.fc5c8","type":"http request","z":"7701e760.724028","name":"","method":"GET","ret":"txt","url":"https://api.otreeba.com/v1/strains","tls":"","x":210,"y":900,"wires":[[]]},{"id":"6ea4606e.a30b","type":"inject","z":"7701e760.724028","name":"","topic":"de90421b27e21fd00ab81b235fd460150ec43362","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1100,"wires":[["539cf66b.8dacc"]]}]